// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

 background-color: #444 !important;

  .title {
    color: #fff;
  }
 
  .time {
  	color: #aa00ff;
  }

}
