# Ignore any dashboards you create
dashboards/*
# But don't ignore these
!dashboards/example.erb
!dashboards/layout.erb

# Ignore runtime and environment stuff
history.yml
persistent.db
Gemfile.lock
venv # Virtual environment folder for running hapush
