# Ignore any dashboards you create
dashboards/*
# But don't ignore these
!dashboards/example.erb
!dashboards/layout.erb

# Don't include custom CSS
assets/stylesheets/customize/*
# But include the example
!assets/stylesheets/customize.scss.example

# Ignore runtime and environment stuff
history.yml
persistent.db
Gemfile.lock

# Virtual environment folder for running hapush
venv*
