# Ignore any dashboards you create
dashboards/*
# But don't ignore these
!dashboards/example.erb
!dashboards/layout.erb

# Don't include custom CSS
assets/stylesheets/_application_custom.scss
assets/stylesheets/_variables_custom.scss

# Ignore runtime and environment stuff
history.yml
persistent.db
Gemfile.lock
dashing.pid
.bundle
log/thin.log

# Virtual environment folder for running hapush
venv*
