// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
.widget-change-page {

  background-color: #444;

  .title {
    color: #fff;
  }

  i {
  	font-style: normal;
  }

  .container {
  	position: relative;
  	height: 75px;
  }

  .icon, .timer {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }

  .timer {
  	z-index: 1;
  }

  .icon-inactive {
    color: #888888;
  }

  .icon-active {
    color: #aaff00;
  }

}
