@import "variables";

// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
.widget-change-page {

  .container {
  	position: relative;
  	height: 75px;
  }

  .icon, .timer {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }

  .timer {
  	z-index: 1;
  }

}
