// ----------------------------------------------------------------------------
// Widget-hagarage styles
// ----------------------------------------------------------------------------
.widget-hacover {

  background-color: #444 !important;

  .title {
    color: #fff;
  }

  .icon-open {
  	color: #ff00aa;
  }
  .icon-opening {
  	color: #ffff00;
  }
  .icon-closing {
  	color: #ffff00;
  }

  .icon-closed {
  	color: #888888;
  }

}
