@import "variables";

// ----------------------------------------------------------------------------
// Widget-hagarage styles
// ----------------------------------------------------------------------------
.widget-hagarage {

  .icon-open {
  	color: $red;
  }
  .icon-opening {
  	color: $yellow;
  }
  .icon-closing {
  	color: $yellow;
  }

  .icon-closed {
  	color: $color-inactive;
  }

}
