@import "variables";

// ----------------------------------------------------------------------------
// Widget-haalarmstatus styles
// ----------------------------------------------------------------------------
.widget-haalarmstatus {

  .value {
    color: $white;
    font-size: 500%;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
  }

}
