// ----------------------------------------------------------------------------
// Widget-haalarmstatus styles
// ----------------------------------------------------------------------------
.widget-haalarmstatus {

  background-color: #444;

  .value {
    color: #fff;
    font-size: 500%;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
  }

}

