@import "variables";

// ----------------------------------------------------------------------------
// Widget-hahumidity styles
// ----------------------------------------------------------------------------
.widget-hahumidity {

  .value {
    color: $blue;
    display: inline-block;
    vertical-align: middle;
  }

  .unit {
    color: #00aaff;
    font-size: 225%;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-top: 5px;
  }


}
