// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

$moreinfo-color:    rgba(255, 255, 255, 0.3);

// ----------------------------------------------------------------------------
// Widget-meter styles
// ----------------------------------------------------------------------------
.widget-hahumiditymeter {

  background-color: #444 !important;
  position: relative;

  input.meter {
    background-color: #666;
    color: #00aaff;
    margin-top: 20px !important;
    font-size: 22px !important;
  }

  .title {
    color: #fff;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .units {
    color: rgba(255, 255, 255, 0.7);
    font-size: 60%;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
    bottom: 5px;
  }

}
