@import "variables";
// ----------------------------------------------------------------------------
// Widget-sttemp styles
// ----------------------------------------------------------------------------
.widget-hatemp {

  .value {
  	color: $blue;
    display: inline-block;
    vertical-align: middle;
  }

  .unit {
    color: $blue;
    font-size: 225%;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-top: 5px;
  }
}
