// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
.widget-halock {

  background-color: #444;

  .title {
    color: #fff;
  }

  .icon-unlocked {
        color: #ff00aa;
  }

  .icon-locked {
        color: #fff;
  }

}
