// ----------------------------------------------------------------------------
// Widget-hadevicetracker styles
// ----------------------------------------------------------------------------
.widget-hadevicetracker {

  background-color: #444;

  .title {
    color: #fff;
  }

  .icon-present {
  	color: #aaff00;
  }

  .icon-absent {
  	color: #888888;
  }
}
