// Core colors. Reference these wherever possible rather than making custom
// versions of red, green, etc. This will make it easier to quickly change the
// overall pallette of the dashboard just by overriding these variables.
$white: #fff;
$red: #ff0055;
$green: #aaff00;
$blue: #00aaff;
$purple: #aa00ff;
$yellow: #ffff00;
$orange: #ffaa00;

$gray-dark: #333;
$gray-medium: #666;
$gray-light: #888;

//Page and widget defaults
$background-color: #222;
$text-color: #fff;

//These are used for icons and indicators
$color-inactive: $gray-light;
$color-active: $green;

//Warnings and alerts
$background-warning-color-1: #e82711;
$background-warning-color-2: #9b2d23;
$text-warning-color: #fff;

$background-danger-color-1: #eeae32;
$background-danger-color-2: #ff9618;
$text-danger-color: #fff;

@import "customize/variables"
