// ----------------------------------------------------------------------------
// Widget-stmotion styles
// ----------------------------------------------------------------------------
.widget-hamotion {

  background-color: #444 !important;

  .title {
    color: #fff;
  }

  .icon-active {
  	color: #ff00aa;
  }

  .icon-inactive {
  	color: #888888;
  }

}
