// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
.widget-stlock {

  background-color: #444 !important;

  .title {
    color: #fff;
  }

  .icon-unlocked {
  	color: #ff00aa;
  }

  .icon-locked {
  	color: #fff;
  }

}
