<% content_for :title do %>HADashboard<% end %>

<div class="gridster"> <!-- Main Panel - PAGE 1 -->
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Haweather"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="house_mode" data-view="Hainputselect"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="side_temp_corrected" data-view="Hatemp" data-title="Temperature"></div>
    </li>

    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="side_humidity_corrected" data-view="Hahumidity" data-title="Humidity"></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="2" data-sizey="1">
      <div data-id="side_multisensor_luminance_25" data-view="Halux" data-title="Light Level"></div>
    </li>

    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="5722a8985b4043e9b59305b5e4f71502" data-view="Hadevicetracker" data-title="Andrew"></div>
    </li>

    <li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="dedb5e711a24415baaae5cf8e880d852" data-view="Hadevicetracker" data-title="Wendy"></div>
    </li>

    <li data-row="2" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="garage" data-view="Hagarage" data-title="Garage"></div>
    </li>

    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="porch_multisensor_sensor_27" data-view="Hamotion" data-title="Porch"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="downstairs_on" data-view="Hascene" data-title="Downstairs On"></div>
    </li>

	<li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="downstairs_off" data-view="Hascene" data-title="Downstairs Off" ></div>
    </li>

	<li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="downstairs_dim" data-view="Hascene" data-title="Downstairs Dim"></div>
    </li>

	<li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="downstairs_bright" data-view="Hascene" data-title="Downstairs Bright"></div>
    </li>

    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="downstairs_thermometer" data-view="Hatemp" data-title="Downstairs"></div>
    </li>

    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="upstairs_thermometer" data-view="Hatemp" data-title="Upstairs"></div>
    </li>

    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="basement_thermometer" data-view="Hatemp" data-title="Basement"></div>
    </li>

    <li data-row="3" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="thermostat_set" data-view="Hatemp" data-title="Thermostat"></div>
    </li>
	
    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="upstairs_on" data-view="Hascene" data-title="Upstairs On"></div>
    </li>

	<li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="upstairs_off" data-view="Hascene" data-title="Upstairs Off" ></div>
    </li>

	<li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="outside_on" data-view="Hascene" data-title="Outside On"></div>
    </li>

	<li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="outside_off" data-view="Hascene" data-title="Outside Off"></div>
    </li>

	
	  <li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="vacation" data-view="Hainputboolean" data-icon="sliders" data-title="Vacation Mode"></div>
    </li>

	  <li data-row="4" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="guest" data-view="Hainputboolean" data-icon="sliders" data-title="Guest Mode"></div>
    </li>

	  <li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cooling" data-view="Hainputboolean" data-icon="sliders" data-title="Cooling"></div>
    </li>

	  <li data-row="4" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="heating" data-view="Hainputboolean" data-icon="sliders" data-title="Heat"></div>
    </li>
	
    <li data-row="5" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="morning" data-view="Hascript" data-title="Good Morning" data-icon="clock-o" data-changemode="Morning" data-input="house_mode"></div>
    </li>

	<li data-row="5" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="day" data-view="Hascript" data-title="Good Day" data-icon="sun-o" data-changemode="Day" data-input="house_mode"></div>
    </li>

	<li data-row="5" data-col="5" data-sizex="2" data-sizey="1">
      <div data-id="evening" data-view="Hascript" data-title="Good Evening" data-icon="moon-o"  data-changemode="Evening" data-input="house_mode"></div>
    </li>
	
    <li data-row="5" data-col="7" data-sizex="2" data-sizey="1">
      <div data-id="night" data-view="Hascript" data-title="Good Night" data-icon="star-o"  data-changemode="Night" data-input="house_mode"></div>
    </li>

    <li data-row="6" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Main Panel" style="color:#aaff00;" data-page="1" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Upstairs Panel" style="color:#aaff00;" data-page="2" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Upstairs" data-page="3" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Downstairs" data-page="4" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Outside" data-page="5" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="home" data-title="Doors and Locks" data-page="6" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

   <li data-row="6" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="home" data-title="Controls" data-page="7" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>
	
	
  </ul>
</div>

<div class="gridster"> <!-- Upstairs Panel - PAGE 2 -->
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Haweather"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="house_mode" data-view="Hainputselect"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="side_temp_corrected" data-view="Hatemp" data-title="Temperature"></div>
    </li>

    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="side_humidity_corrected" data-view="Hahumidity" data-title="Humidity"></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="2" data-sizey="1">
      <div data-id="side_multisensor_luminance_25" data-view="Halux" data-title="Light Level"></div>
    </li>

    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="5722a8985b4043e9b59305b5e4f71502" data-view="Hadevicetracker" data-title="Andrew"></div>
    </li>

    <li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="dedb5e711a24415baaae5cf8e880d852" data-view="Hadevicetracker" data-title="Wendy"></div>
    </li>

    <li data-row="2" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="garage" data-view="Hagarage" data-title="Garage"></div>
    </li>

    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="porch_multisensor_sensor_27" data-view="Hamotion" data-title="Porch"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="upstairs_on" data-view="Hascene" data-title="Upstairs On"></div>
    </li>

	<li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="upstairs_off" data-view="Hascene" data-title="Upstairs Off" ></div>
    </li>

	<li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="upstairs_dim" data-view="Hascene" data-title="Upstairs Dim"></div>
    </li>

	<li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="upstairs_bright" data-view="Hascene" data-title="Upstairs Bright"></div>
    </li>

    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="downstairs_thermometer" data-view="Hatemp" data-title="Downstairs"></div>
    </li>

    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="upstairs_thermometer" data-view="Hatemp" data-title="Upstairs"></div>
    </li>

    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="basement_thermometer" data-view="Hatemp" data-title="Basement"></div>
    </li>

    <li data-row="3" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="thermostat_set" data-view="Hatemp" data-title="Thermostat"></div>
    </li>
	
    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="office_on" data-view="Hascene" data-title="Office On"></div>
    </li>

	<li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="office_off" data-view="Hascene" data-title="Office Off" ></div>
    </li>

	<li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="office_dim" data-view="Hascene" data-title="Office Dim"></div>
    </li>

	<li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="office_bright" data-view="Hascene" data-title="Office Bright"></div>
    </li>

	
	  <li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="vacation" data-view="Hainputboolean" data-icon="sliders" data-title="Vacation Mode"></div>
    </li>

	  <li data-row="4" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="guest" data-view="Hainputboolean" data-icon="sliders" data-title="Guest Mode"></div>
    </li>

	  <li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cooling" data-view="Hainputboolean" data-icon="sliders" data-title="Cooling"></div>
    </li>

	  <li data-row="4" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="heating" data-view="Hainputboolean" data-icon="sliders" data-title="Heat"></div>
    </li>
	
    <li data-row="5" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="morning" data-view="Hascript" data-title="Good Morning" data-icon="clock-o" data-changemode="Morning" data-input="house_mode"></div>
    </li>

	<li data-row="5" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="day" data-view="Hascript" data-title="Good Day" data-icon="sun-o" data-changemode="Day" data-input="house_mode"></div>
    </li>

	<li data-row="5" data-col="5" data-sizex="2" data-sizey="1">
      <div data-id="evening" data-view="Hascript" data-title="Good Evening" data-icon="moon-o"  data-changemode="Evening" data-input="house_mode"></div>
    </li>
	
    <li data-row="5" data-col="7" data-sizex="2" data-sizey="1">
      <div data-id="night" data-view="Hascript" data-title="Good Night" data-icon="star-o"  data-changemode="Night" data-input="house_mode"></div>
    </li>

     <li data-row="6" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Main Panel" style="color:#aaff00;" data-page="1" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Upstairs Panel" style="color:#aaff00;" data-page="2" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Upstairs" data-page="3" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Downstairs" data-page="4" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Outside" data-page="5" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="home" data-title="Doors and Locks" data-page="6" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

   <li data-row="6" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="home" data-title="Controls" data-page="7" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>
	
  </ul>
</div>


<div class="gridster"> <!-- UPSTAIRS - PAGE 3 -->
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Haweather"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="house_mode" data-view="Hainputselect"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="side_temp_corrected" data-view="Hatemp" data-title="Temperature"></div>
    </li>

    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="side_multisensor_relative_humidity_25" data-view="Hahumidity" data-title="Humidity"></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="2" data-sizey="1">
      <div data-id="side_multisensor_luminance_25" data-view="Halux" data-title="Light Level"></div>
    </li>

    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="5722a8985b4043e9b59305b5e4f71502" data-view="Hadevicetracker" data-title="Andrew"></div>
    </li>

    <li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="dedb5e711a24415baaae5cf8e880d852" data-view="Hadevicetracker" data-title="Wendy"></div>
    </li>

    <li data-row="2" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="garage" data-view="Hagarage" data-title="Garage"></div>
    </li>

    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="porch_multisensor_sensor_27" data-view="Hamotion" data-title="Porch"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="office_on" data-view="Hascene" data-title="Office On"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="office_off" data-view="Hascene" data-title="Office Off"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bedroom_on" data-view="Hascene" data-title="Bedroom On"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bedroom_off" data-view="Hascene" data-title="Bedroom Off"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="upstairs_on" data-view="Hascene" data-title="Upstairs On"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="upstairs_off" data-view="Hascene" data-title="Upstairs Off"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="upstairs_bright" data-view="Hascene" data-title="Upstairs Bright"></div>
    </li>

	<li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="office_1" data-view="Hadimmer" data-title="Office1"></div>
    </li>
	<li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="office_2" data-view="Hadimmer" data-title="Office2"></div>
    </li>
	<li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="office_3" data-view="Hadimmer" data-title="Office3"></div>
    </li>

 	<li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wendy_bedside" data-view="Hadimmer" data-title="Wendy's Bedside Lamp"></div>
    </li>

   	<li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="andrew_bedside" data-view="Hadimmer" data-title="Andrew's Bedside Lamp"></div>
    </li>

    <li data-row="5" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="morning" data-view="Hascript" data-title="Good Morning" data-icon="clock-o" data-changemode="Morning" data-input="house_mode"></div>
    </li>

	<li data-row="5" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="day" data-view="Hascript" data-title="Good Day" data-icon="sun-o" data-changemode="Day" data-input="house_mode"></div>
    </li>

	<li data-row="5" data-col="5" data-sizex="2" data-sizey="1">
      <div data-id="evening" data-view="Hascript" data-title="Good Evening" data-icon="moon-o"  data-changemode="Evening" data-input="house_mode"></div>
    </li>
	
    <li data-row="5" data-col="7" data-sizex="2" data-sizey="1">
      <div data-id="night" data-view="Hascript" data-title="Good Night" data-icon="star-o"  data-changemode="Night" data-input="house_mode"></div>
    </li>

    <li data-row="6" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Main Panel" style="color:#aaff00;" data-page="1" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Upstairs Panel" style="color:#aaff00;" data-page="2" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Upstairs" data-page="3" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Downstairs" data-page="4" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Outside" data-page="5" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="home" data-title="Doors and Locks" data-page="6" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

   <li data-row="6" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="home" data-title="Controls" data-page="7" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>
	
 </ul>
</div>

<div class="gridster"> <!-- DOWNSTAIRS - PAGE 4 -->
  <ul>
     <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Haweather"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="house_mode" data-view="Hainputselect"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="side_temp_corrected" data-view="Hatemp" data-title="Temperature"></div>
    </li>

    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="side_multisensor_relative_humidity_25" data-view="Hahumidity" data-title="Humidity"></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="2" data-sizey="1">
      <div data-id="side_multisensor_luminance_25" data-view="Halux" data-title="Light Level"></div>
    </li>

    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="5722a8985b4043e9b59305b5e4f71502" data-view="Hadevicetracker" data-title="Andrew"></div>
    </li>

    <li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="dedb5e711a24415baaae5cf8e880d852" data-view="Hadevicetracker" data-title="Wendy"></div>
    </li>

    <li data-row="2" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="garage" data-view="Hagarage" data-title="Garage"></div>
    </li>

    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="porch_multisensor_sensor_27" data-view="Hamotion" data-title="Porch"></div>
    </li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="andrews_lamp" data-view="Hadimmer" data-title="Andrew's Lamp"></div>
    </li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wendys_lamp" data-view="Hadimmer" data-title="Wendy's Lamp"></div>
    </li>
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jacks_lamp" data-view="Hadimmer" data-title="Jack's Lamp"></div>
    </li>
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="den_lamp" data-view="Hadimmer" data-title="Den Lamp"></div>
    </li>
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="main_tree_switch_20" data-view="Haswitch" data-title="Main Tree"></div>
    </li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="animal_tree_switch_22" data-view="Haswitch" data-title="Animal Tree"></div>
    </li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="living_room" data-view="Hadimmer" data-title="Living Room Lamp"></div>
    </li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="living_room_front" data-view="Hadimmer" data-title="Living Room Front"></div>
    </li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kitchen_level_30" data-view="Hadimmer" data-title="Kitchen"></div>
    </li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hall_level_8" data-view="Hadimmer" data-title="Hall Light"></div>
    </li>

    <li data-row="5" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="downstairs_on" data-view="Hascene" data-title="Downstairs On"></div>
    </li>

    <li data-row="5" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="downstairs_on_transition" data-view="Hascene" data-title="Downstairs On Slow"></div>
    </li>

	<li data-row="5" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="downstairs_off" data-view="Hascene" data-title="Downstairs Off" ></div>
    </li>

	<li data-row="5" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="downstairs_dim" data-view="Hascene" data-title="Downstairs Dim"></div>
    </li>

	<li data-row="5" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="downstairs_bright" data-view="Hascene" data-title="Downstairs Bright"></div>
    </li>
	
     <li data-row="6" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Main Panel" style="color:#aaff00;" data-page="1" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Upstairs Panel" style="color:#aaff00;" data-page="2" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Upstairs" data-page="3" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Downstairs" data-page="4" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Outside" data-page="5" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="home" data-title="Doors and Locks" data-page="6" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

   <li data-row="6" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="home" data-title="Controls" data-page="7" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>
	

 </ul>
</div>

<div class="gridster"> <!-- OUTSIDE - PAGE 5 -->
  <ul>
     <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Haweather"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="house_mode" data-view="Hainputselect"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="side_temp_corrected" data-view="Hatemp" data-title="Temperature"></div>
    </li>

    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="side_multisensor_relative_humidity_25" data-view="Hahumidity" data-title="Humidity"></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="2" data-sizey="1">
      <div data-id="side_multisensor_luminance_25" data-view="Halux" data-title="Light Level"></div>
    </li>

    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="5722a8985b4043e9b59305b5e4f71502" data-view="Hadevicetracker" data-title="Andrew"></div>
    </li>

    <li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="dedb5e711a24415baaae5cf8e880d852" data-view="Hadevicetracker" data-title="Wendy"></div>
    </li>

    <li data-row="2" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="garage" data-view="Hagarage" data-title="Garage"></div>
    </li>

    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="porch_multisensor_sensor_27" data-view="Hamotion" data-title="Porch"></div>
    </li>
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="porch_1" data-view="Hadimmer" data-title="Porch Light 1"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="porch_2" data-view="Hadimmer" data-title="Porch Light 2"></div>
    </li>

	<li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="front_path_switch_10" data-view="Haswitch" data-title="Path Lights"></div>
    </li>

	<li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="outside_decorations_switch_23" data-view="Haswitch" data-title="Xmas Lights"></div>
    </li>
	
    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="outside_on" data-view="Hascene" data-title="Outside On"></div>
    </li>

	<li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="outside_off" data-view="Hascene" data-title="Outside Off"></div>
    </li>

	<li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="outside_dim" data-view="Hascene" data-title="Outside Dim"></div>
    </li>
	
	<li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="outside_bright" data-view="Hascene" data-title="Outside Bright"></div>
    </li>
 	  <li data-row="4" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="night_porch_motion" data-view="Hainputboolean" data-icon="sliders" data-title="Night Porch Motion"></div>
    </li>

      <li data-row="6" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Main Panel" style="color:#aaff00;" data-page="1" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Upstairs Panel" style="color:#aaff00;" data-page="2" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Upstairs" data-page="3" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Downstairs" data-page="4" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Outside" data-page="5" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="home" data-title="Doors and Locks" data-page="6" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

   <li data-row="6" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="home" data-title="Controls" data-page="7" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>
	
 </ul>
</div>

<div class="gridster"> <!-- DOORS AND LOCKS - PAGE 6 -->
  <ul>
     <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Haweather"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="house_mode" data-view="Hainputselect"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="side_temp_corrected" data-view="Hatemp" data-title="Temperature"></div>
    </li>

    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="side_multisensor_relative_humidity_25" data-view="Hahumidity" data-title="Humidity"></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="2" data-sizey="1">
      <div data-id="side_multisensor_luminance_25" data-view="Halux" data-title="Light Level"></div>
    </li>

    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="5722a8985b4043e9b59305b5e4f71502" data-view="Hadevicetracker" data-title="Andrew"></div>
    </li>

    <li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="dedb5e711a24415baaae5cf8e880d852" data-view="Hadevicetracker" data-title="Wendy"></div>
    </li>

    <li data-row="2" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="garage" data-view="Hagarage" data-title="Garage"></div>
    </li>

    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="porch_multisensor_sensor_27" data-view="Hamotion" data-title="Porch"></div>
    </li>
    <li data-row="6" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Main Panel" style="color:#aaff00;" data-page="1" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Upstairs Panel" style="color:#aaff00;" data-page="2" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Upstairs" data-page="3" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Downstairs" data-page="4" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Outside" data-page="5" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="home" data-title="Doors and Locks" data-page="6" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

   <li data-row="6" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="home" data-title="Controls" data-page="7" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>
	
 </ul>
</div>

<div class="gridster"> <!-- Controls - PAGE 7 -->
  <ul>
     <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Haweather"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="house_mode" data-view="Hainputselect"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="side_temp_corrected" data-view="Hatemp" data-title="Temperature"></div>
    </li>

    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="side_multisensor_relative_humidity_25" data-view="Hahumidity" data-title="Humidity"></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="2" data-sizey="1">
      <div data-id="side_multisensor_luminance_25" data-view="Halux" data-title="Light Level"></div>
    </li>

    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="5722a8985b4043e9b59305b5e4f71502" data-view="Hadevicetracker" data-title="Andrew"></div>
    </li>

    <li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="dedb5e711a24415baaae5cf8e880d852" data-view="Hadevicetracker" data-title="Wendy"></div>
    </li>

    <li data-row="2" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="garage" data-view="Hagarage" data-title="Garage"></div>
    </li>

    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="porch_multisensor_sensor_27" data-view="Hamotion" data-title="Porch"></div>
    </li>

 	  <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="porch_notifications" data-view="Hainputboolean" data-icon="sliders" data-title="Porch Motion Notification"></div>
    </li>    

 	  <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="inside_notifications" data-view="Hainputboolean" data-icon="sliders" data-title="Inside Notifications"></div>
    </li>

    <li data-row="5" data-col="7" data-sizex="2" data-sizey="1">
      <div data-id="night_quiet" data-view="Hascript" data-title="Good Night Quiet" data-icon="star-o"  data-changemode="Night" data-input="house_mode"></div>
    </li>

     <li data-row="6" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Main Panel" style="color:#aaff00;" data-page="1" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Upstairs Panel" style="color:#aaff00;" data-page="2" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Upstairs" data-page="3" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Downstairs" data-page="4" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="cogs" data-title="Outside" data-page="5" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="home" data-title="Doors and Locks" data-page="6" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

   <li data-row="6" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="home" data-title="Controls" data-page="7" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="6" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>
	
	
 </ul>
</div>
