@import "variables";

// ----------------------------------------------------------------------------
// Widget-stmode styles
// ----------------------------------------------------------------------------
.widget-hascene {

  .container {
  	position: relative;
  	height: 75px;
  }

  .icon {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }

  .icon-inactive {
    color: $color-inactive;
  }

  .icon-active {
    color: $color-active;
  }

}
