// ----------------------------------------------------------------------------
// Widget-stmeter styles
// ----------------------------------------------------------------------------
.widget-stmeter {

  input.stmeter {
    background-color: #444;
    color: #aa00ff;
  }

  .title {
    color: #fff;
  }

}
