// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
.widget-hamediaplayer {

  background-color: #444;

  .title {
    color: #fff;
  }

  .media_player-icon-on {
        color: #ff00aa;
  }

  .media_player-icon-off {
        color: #fff;
  }

}
