// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
.widget-hagroup {

  background-color: #444;

  .title {
    color: #fff;
  }

  .switch-icon-off .switch-icon-on {
    font-size: 150%;
  }

  .switch-icon-off {
    color: #888888;
  }

  .switch-icon-on {
  	color: #aaff00;
  }

}
