@import "variables";

// ----------------------------------------------------------------------------
// Widget-stmode styles
// ----------------------------------------------------------------------------
.widget-haalarmaction {

  .title {
    padding-top: 10px;
    font-size: 225%;
    font-weight: 500;
    color: $gray-light;
  }

  .container {
      position: relative;
      height: 65px;
  }

  .icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

  .title-inactive {
    color: $gray-light;
  }

  .title-active {
    color: $color-active;
  }

}
