@import "variables";

// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
.widget-hainputboolean {


  .switch-icon-off .switch-icon-on {
    font-size: 150%;
  }

  .switch-icon-off {
    color: $color-inactive;
  }

  .switch-icon-on {
  	color: $color-active;
  }

}
