// RENAME THIS FILE TO _application.scss TO ACTIVATE IT

// Use this file to override CSS for anything you want. Edit here rather than
// individual widget SCSS files so your changes don't get overridden when
// you pull in upgrades.

// You can reference variables defined in _variables.scss
@import "variables";

//For example: if you want to override the background color of the news widget
.widget.widget-news {
  background-color: $gray-medium;
}
